<div class="todo-container">
  <h1>Ứng dụng Việc Cần Làm</h1>

  <div class="add-todo">
    <input type="text" [(ngModel)]="newTodo" placeholder="Nhập công việc mới" (keyup.enter)="addTodo()" />
    <button (click)="addTodo()">Thêm</button>
  </div>

  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <input type="checkbox" [(ngModel)]="todo.completed" (change)="toggleCompletion(todo)" />
      <span [class.completed]="todo.completed">{{ todo.title }}</span>
      <button (click)="deleteTodo(todo.id)">Xoá</button>
    </li>
  </ul>

  <p *ngIf="todos.length === 0">Không có công việc nào.</p>
</div>