<!-- home.component.html -->
<div class="home">
  <h1>Trang Chủ</h1>
  <div> <a href="stopwatch">Đếm giờ</a></div>
  <div><a href="current-clock">Đồng Hồ Hiện Tại</a></div>
  <div><a href="percentage-calculator">Tính số theo phần trăm</a></div>
  <div><a href="palindrome-checker">Kiểm Tra Chuỗi Đối Xứng</a></div>
  <div><a href="todo-list">Ứng Dụng Việc Cần Làm</a></div>
  <div><a href="color-picker">Chọn Màu Nền Trang</a></div>
  <div><a href="text-formatter">Định Dạng Văn Bản</a></div>
  <div><a href="random-array-display">Hiển Thị Mảng Ngẫu Nhiên</a></div>

</div>